{% extends "base.html" %}

{% block title %}CerveWeb{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static',    filename='css/blurry-load.min.css') }}" />
<script src="{{ url_for('static',    filename='js/blurry-load.min.js') }}"></script>
<!--Adicion/Sobreescritura de atributos del template padre
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>-->
{% endblock %}

{% block header %}
<div class="py-5 bg-image-full bgpic1">
  <img class="logotipo img-fluid d-block mx-auto" src="/static/img/cerveweb_inverted.png">
</div>

{% endblock %}

{% block content %}
<section class="py-5">
  <div class="container">
    <h1>Section Heading</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, suscipit, rerum quos facilis repellat
      architecto commodi officia atque nemo facere eum non illo voluptatem quae delectus odit vel itaque amet.</p>
  </div>
</section>

<!-- Image Section - set the background image for the header in the line below -->
<section class="py-5 bg-image-full bgpic2">
  <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
  <div style="height: 200px;"></div>
</section>

<!-- Content section -->
<section class="py-5">
  <div class="container">
    <h1>Section Heading</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, suscipit, rerum quos facilis repellat
      architecto commodi officia atque nemo facere eum non illo voluptatem quae delectus odit vel itaque amet.</p>
  </div>
</section>

{% endblock %}

<script type="text/javascript">
  var prevScrollpos = window.pageYOffset;
  window.onscroll = function () {
    var currentScrollPos = window.pageYOffset;
    if (prevScrollpos > currentScrollPos) {
      document.getElementById("navbar").style.top = "0";
    } else {
      document.getElementById("navbar").style.top = "-50px";
    }
    prevScrollpos = currentScrollPos;
  }
</script>

<script type="text/JavaScript">
  /*
  window.onload = () => {
    document.querySelector(".bg-image-full").classList.add(".bgpic2");
  };*/
</script>