{% extends "base.html" %}

{% block title %}CerveWeb{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static',    filename='css/blurry-load.min.css') }}" />
<script src="{{ url_for('static',    filename='js/blurry-load.min.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static',    filename='scss/search-bar.css') }}" />
{% endblock %}

{% block header %}
<div class="py-5 bg-image-full bgpic1">
  <img class="logotipo img-fluid d-block mx-auto" src="/static/img/cerveweb_inverted.png">
  <div class="searchBox">
    <input id="txtBusqueda" class="searchInput" type="text" placeholder="Buscar">
    <button id="btnBusqueda" class="searchButton">
      <i class="fas fa-search"></i>
    </button>
  </div>
</div>

{% endblock %}

{% block content %}
<section class="py-5">
  <div class="container">
    <h1>Cervezas Artesanales</h1>
    <p class="lead">Realiza tu pedido al por mayor y menor</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, suscipit, rerum quos facilis repellat
      architecto commodi officia atque nemo facere eum non illo voluptatem quae delectus odit vel itaque amet.</p>
  </div>
</section>

<!-- Image Section - set the background image for the header in the line below -->
<section class="py-5 bg-image-full bgpic2">
  <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
  <div style="height: 200px;"></div>
</section>

<!-- Content section -->
<section class="py-5">
  <div class="container">
    <h1>Realiza tu Pedido aqui</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, suscipit, rerum quos facilis repellat
      architecto commodi officia atque nemo facere eum non illo voluptatem quae delectus odit vel itaque amet.</p>
  </div>
</section>

{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}

<script type="text/JavaScript">
  function buscar(){
    alert("2");
    var texto = $("#txtBusqueda").val();
    $.ajax({
      url: "{{url_for('buscar')}}",
      type: 'POST',
      data: {'data':texto},
      contentType: 'application/json;charset=UTF-8'      
    });
  };

  $("#btnBusqueda").click(function(){
    console.log("1");
    buscar();
  });  

  var prevScrollpos = window.pageYOffset;
  window.onscroll = function () {
    var currentScrollPos = window.pageYOffset;
    if (prevScrollpos > currentScrollPos) {
      document.getElementById("navbar").style.top = "0";
    } else {
      document.getElementById("navbar").style.top = "-50px";
    }
    prevScrollpos = currentScrollPos;
  };  
</script>