<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cerveweb</title>
    <link href="{{ url_for('static',    filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',    filename='css/full-width-pics.css') }}" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" , rel="stylesheet" ,
        integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" , crossorigin="anonymous" />
    <script src="{{ url_for('static',    filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',    filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/blurry-load.min.css') }}" />
    <script src="{{ url_for('static',    filename='js/blurry-load.min.js') }}"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!--<link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/mdb.min.css" rel="stylesheet">
  <link href="/static/css/style.css" rel="stylesheet">-->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</head>

<body style="background-color: #263238;text-align: center;">
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            {% with messages = get_flashed_messages(with_categories=true) %}
            <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
            {% if messages %}
            {% for category, message in messages %}
            {% if category != "message" %}
            <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                {{ message }}
            </div>
            {% else %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                {{ message }}
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    </div>
    <img class="logotipo img-fluid d-block mx-auto" src="/static/img/cerveweb_inverted.png">
    <form method=post>
        <div class="form-row">
            <div class="bg-dark" style="background-color: #263238;text-align: center;">
                <button class="btn btn-warning btn-lg"
                    style=" width: 500px; height: 250px; position: absolute ;top: 40%; left: 37%; font-size : 60px;"
                    type="submit"><strong>Hacer
                        pedido</strong></button>
            </div>
        </div>
    </form>
</body>

</html>
<script>
    $(document).ready(function () {
        var messages = "{{ get_flashed_messages() }}";

        if (typeof messages != 'undefined' && messages != '[]') {
            $("#myModal").modal();
        };
    });
</script>