{% extends "base.html" %}

{% block title %}CerveWeb{% endblock %}

{% block header %}

{% endblock %}

{% block content %}
<div id="bg" class="bg-image-full bgpic2">
  <h1 class="text-white">Bienvenido a tu Perfil!</h1>
</div>

<div id="fg" class="py-5 bg-dark">
  <div class="container">
    <h2>[Nombre Usuario]</h2>
    <p class="lead">Datos Personales</p>
    <p>Listado de datos con form embebida aca.</p>
  </div>

  <div class="container">
    <h2>Tus Pedidos</h2>
    <p class="lead">Este es tu historial completo de pedidos.</p>
    <p>Listado dinamico de pedidos con datos resumidos y opciones rapidas, que carguen un modal detallado cuando los
      tocas con opciones avanzadas</p>
    <p>Listado dinamico de pedidos con datos resumidos y opciones rapidas, que carguen un modal detallado cuando los
      tocas con opciones avanzadas</p>
    <p>Listado dinamico de pedidos con datos resumidos y opciones rapidas, que carguen un modal detallado cuando los
      tocas con opciones avanzadas</p>
    <p>Listado dinamico de pedidos con datos resumidos y opciones rapidas, que carguen un modal detallado cuando los
      tocas con opciones avanzadas</p>
    <p>Listado dinamico de pedidos con datos resumidos y opciones rapidas, que carguen un modal detallado cuando los
      tocas con opciones avanzadas</p>
    <p>Listado dinamico de pedidos con datos resumidos y opciones rapidas, que carguen un modal detallado cuando los
      tocas con opciones avanzadas</p>
    <p>Listado dinamico de pedidos con datos resumidos y opciones rapidas, que carguen un modal detallado cuando los
      tocas con opciones avanzadas</p>
    <p>Listado dinamico de pedidos con datos resumidos y opciones rapidas, que carguen un modal detallado cuando los
      tocas con opciones avanzadas</p>
    <p>Listado dinamico de pedidos con datos resumidos y opciones rapidas, que carguen un modal detallado cuando los
      tocas con opciones avanzadas</p>


  </div>
</div>

{% endblock %}
{% block footer %}
{{ super() }}
{% endblock %}